@font-face {
    font-family: 'Open Sans';
    src: url('src/assets/fonts/OpenSans-VariableFont_wdth,wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: sans-serif;
}

body {
    background-color: #282c34;
}

input:focus {
    outline: none;
}

button:hover {
    transform: scale(1.03);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

.backbutton {
  background-color: #8ac379;
  border: none;
  border-radius: 10px;
  height: 50px;
  width: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.back-icon {
    width: 25px;
    height: 25px;
}